.container {
  background-color: white;
  height: 114px;
  width: 480px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.h1 {
  line-height: 55px;
  font-size: larger;
  font-family: "Quicksand", sans-serif;
  font-family: "Raleway", sans-serif;
}

.blueword {
  color: blue;
}

.paragraph {
  line-height: 15px;
  font-weight: 400;
  font-size: larger;
  color: rgb(139, 135, 135);
}

.buttons button {
  padding: 13px 20px;
  border: 1px solid transparent;
  background-color: rgb(51, 94, 234);
  color: white;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  margin-right: 4px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.25s;
}

.buttons button:hover {
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1),
    0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1);
  transform: translate3d(0, -3px, 0);
}

.buttons button:last-of-type {
  color: #335eea;
  background-color: rgba(51, 94, 234, 0.1);
}
