/* IMG 2 */
.container2 {
  height: 10px;
  width: 1500px;
  background-color: white;
  padding-top: 90px;
}

.h3 {
  font-size: larger;
}

.Icon {
  position: relative;
  display: inline-block;
}

.paragraph {
  line-height: 30px;
}
